<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User List</title>
  <link rel="stylesheet" href="/homepage.css">
</head>
  <body>
    <h1>User List</h1>

    <ul class="container">

      <% users.forEach(function(user) { %>
        <li>
          <%= user.name %> - <%= user.email %>
          <a href="/edit/<%= user.id %>">Edit</a>
          <form action="/delete/<%= user.id %>" method="POST" style="display: inline;">
            <button type="submit">Delete</button>
          </form>

        </li>
      <% }); %>
                <a id="regi" href="/register">Register</a>

    </ul>
  </body>
</html>
